header {
    @include grid (2fr 3fr, 1fr, null, 5px, center) {
    @include WxH(100%, 75px);
    background-color: $primary-color;
    }
}

header h1 {
    margin-left: 5px;
    font-size: 1.5em;
    color: #fff;
}

.header-right-wrapper {
    @include margins (null, 5px, null, auto) {
    display: inline-flex;
    }
}

.nav-links {
    justify-items: center;
}

.icon, .icon-a {
    @include WxH (50px, 50px) {
    .icon {
        transition: transform .3s ease-out;
        }
    }
}

// .icon-a {
//     @include WxH (50px, 50px);
// }

.icon:hover:not(.bell) {
    transform: scale(1.2);
}

.notification {
    transition: transform .5s ease-out;
}

@keyframes ring {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.notification {
    border-right: 2px solid $background-color;
}

.bell-wrapper {
    @include WxH (null, 55px) {
    perspective: 1px;
    }
}

.badge {
    @include margins (null, 5px, null, auto) {
    @include WxH (7px, 7px);
    border-radius: 50%;
    background: $lime-green;
    }
}

.bell {
    @include WxH (45px, 45px);
}

.bell:hover {
    animation: ring .5s ease-in-out backwards;
}

.bell-path {
    fill: #fff;
}

.heading-picture {
    @include margins (auto, 5px, auto, 5px) {
    @include WxH (40px, 40px);
    border-radius: 50%;
    }
}

.header-right-wrapper p {
    @include margins (auto, null, auto, null) {
    color: #fff;
    font-size: .8em;
    }
}