.chart-divs {
    @include WxH (100%, 200px);
}

#lineChart,
#barChart
 {
    margin: 0px 10px;
}

#doughnutChart {
    margin: -30px 10px;
}

.titles {
    font-weight: bold;
    margin: 15px 0px 5px 10px;
}

#chart-links{
    @include grid (repeat(4, 1fr), null, null, null, null);
}
.chart-link {
    justify-self: center;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 5px 5px;
}

.chart-link:hover {
    transform: scale(1.1);
}

.divide {
    border-bottom: $border;
}