@media screen and (min-width: 768px) {

    body {
        @include grid (50px 1fr 1fr, null, null, null, null) {
        // margin-left: 50px;
        grid-template-areas: "nav header header"
                             "nav content content";
        }
    }

    .nav-links {
        @include grid (1fr, repeat(4, 1fr), null, null, null) {
            @include WxH (50px, 100vh);
        position: fixed;
        left:0px;
        top: 0px;
        & div {
            display:none;
        }
    }
    }

    .remove {
        display: none;
    }

    .mq-charts{
        @include grid (1.25fr 1fr, null, null, null, null) {
        }
    }

    .mq-chart {
        width: 90%;
        border-right: $border;
        margin-right:auto;
        &-2 {
            width: 90%;
            margin-bottom: 15px;
        }
    }

    #barChart {
        margin-top:30px;
    }

    .social {
        @include grid (repeat(3, 1fr), 1fr, null, null, null)
    }

    .members {
        flex-direction: row;
    }

    .member-info {
        @include margins (auto, auto, auto, null) {
        }
    }

    .members p:not(.date) {
        @include margins (auto, 0, 0, 0) {
        text-align: left;
        }
    }

    .email {
        margin-bottom: auto;
    }

    .member-photo {
        @include margins (auto, 15px, auto, 15px) {
        float: left;
        }
    }

    .date {
        @include margins (auto, null, auto, null);
    }

    .inline {
        display: flex;
    }

    .hours {
        margin: 0;
        text-align: left;
    }

    .arrow {
        @include margins (auto, 0, auto, auto) {
        display: block;
        text-decoration: none;
        font-size: 25px;
        }
    }

    .text-area,
    .message-button,
    #timezone,
    .save-wrapper button {
        width: 90%;
    }

    .search-field {
        width: 93%;
    }

    .messageSent, .messageFailed {
        left: 330px;
    }

    .autocomplete-items {
        width: 92%;
        left: 27px;
    }

    .switch-wrapper {
        display: flex;
    }

    .switch {
        @include margins (null, 400px, null, auto);
    }
}

@media screen and (min-width: 1024px) {

    .alert {
        width: 90%;
    }

    #chart-links {
        display: inline-flex;
        width: 100%;
    }

    .hourly {
        margin-left: auto;
    }

    .monthly {
        margin-right: 15px;
    }

    .chart-link:not(.hourly) {
        margin-left: 15px;
    }
    
    .wrap-1024 {
        @include grid (1fr 1fr, 1fr .5fr, null, null, null);
    }

    .wrap-1024-1,
    .wrap-1024-3 {
        border-right: $border;
    }

    .members {
        width: 90%;
    }

    .member-info {
        width: fit-content;
    }

    .inline {
        display: block;
    }

    .hide-1024 {
        display:none;
    }

    .switch {
        @include margins (null, 125px, null, auto);
    }

    .options-text {
        @include margins (0, 0, 0, 15px);
    }

    .switch-wrapper {
        margin-bottom: 39px;
    }

    #timezone {
        margin-bottom: 18px;
    }

    .search-field {
        width: 95%;
    }

    .autocomplete-items {
        width: 93%;
        left: 15px;
    }

    .messageSent, .messageFailed {
        left: 220px;
    }

}