.new-members {
    @include grid (null, repeat(4, 1fr), null, null, null) {
    justify-items: center;
    }
}

.members {
    @include WxH (90%, 100px) {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 20px 10px;
    padding-bottom: 10px;
    border-bottom: $border;
    }
}

.members p:not(.date) {
    color: black;
    margin: auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.date {
    @include margins (0px, null, 10px, null) {
    text-align: center;
    }
}

.member-photo {
    @include margins (null, auto, null, auto) {
        @include WxH (50px, 50px);
    border-radius: 50%;
    }
}

.member-info {
    display: flex;
    flex-direction: column;
}

.email {
    @include margins (null, auto, null, auto);
}


.last-member {
    border-bottom: none;
}

.arrow {
    display: none;
}