.message:not(form) {
    @include grid (1fr, 1fr .1fr, 20px, null, null);
}

form {
    @include grid (1fr, 1fr 2fr, null, null, null) {
        @include margins (10px, null, 11px, null);
    }
}

.messageSent, .messageFailed {
    left: 80px;
}

.autoComplete {
    display: inline-flex;
    list-style-type: none;
    position: relative;
    width: 100%;
}

.search-field, .message-button {
    @include WxH (87%, 40px) {
        @include margins (null, auto, null, auto);
    border-radius: 5px;
    border: $border;
    background-color:#fff;
    }
}

.search-field {
    padding: 10px;
}

.autocomplete-items {
    position: absolute;
    border: $border;
    color:rgba(85, 85, 85, .8);
    background-color: #fff;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 85%;
    top: 59%;
    left: 23px;
    right: 0;
    font-size: 1.2em;
  }

.text-area {
    @include margins (null, auto, null, auto) {
        @include WxH (80%, 100px);
    border-radius: 5px;
    background-color:#fff;
    border: $border;
    padding: 10px;
    }
}

.message-button {
    background-color: $primary-color;
    border-radius: 5px;
    margin-bottom: 25px;
}

.options-text {
    margin: 15px 0px 5px 10px;
}

.switch-wrapper {
    @include grid (2fr 1fr, null, null, null, center) {
    margin-bottom: 10px;
    }
}

.switch h3 {
    font-size: .8em;
}

.switch {
    @include WxH (75px, 34px) {
    position: relative;
    display: inline-block;
    }
}

.switch input {
    @include WxH (0, 0) {
    opacity: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: $switch-color;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $primary-color;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $switch-color;
  }
  
  input:checked + .slider:before {
    transform: translateX(40px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider-text-on {
      position:absolute;
      top: 10px;
      right: 50px;
      color: #fff;
      font-size: .8em;
  }

  .slider-text-off {
      position: absolute;
      top: 10px;
      right: 6px;
      color: #fff;
      font-size: .8em;
  }

  .timezone {
      display: grid;
  }

  #timezone {
      @include margins (20px, auto, 10px, auto) {
          @include WxH (80%, 40px);
      }
  }

.save-wrapper {
    @include grid (repeat(2, 1fr), null, null, 5px, center) {
    width: 100%;
    padding-bottom: 30px;
    }
}

.save {
    @include WxH (80%, 40px) {
    margin-left: auto;
    background-color: $primary-color;
    color: #fff;
    border-radius: 5px;
    }
}

.cancel {
    @include WxH (80%, 40px) {
    margin-right: auto;
    background-color: $switch-color;
    color: #fff;
    border-radius: 5px;
    }
}