.social {
    @include grid (1fr, repeat(3, 1fr), 10px, null, null) {
    justify-items: center;
    margin-bottom: 15px;
    }
}

.social-block {
    @include WxH (90%, 100px) {
    display: flex;
    border: $border;
    border-radius: 5px;;
    background-color:$background-color;
    }
    & h3 {
    color:$primary-color;
    font-weight: bold;
    }
    & h1, & h3{
        margin: 0px;
    }
}

.soc-text-align {
    margin-top: 20px;
}

.social-svg {
    @include WxH (80px, 80px) {
    margin: auto 5px;
    float: left;
    background: $primary-color;
    border-radius: 50%;
    }
}

.social-icon {
    margin-left:auto;
    fill: #fff;
}